{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"ecmaFeatures": {
			"impliedStrict": true,
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"env": {
		"browser": true,
		"node": true,
		"jest": true
	},
	"globals": {
		"Promise": true
	},
	"plugins": [
		"@typescript-eslint",
		"jest-dom",
		"testing-library",
		"testcafe",
		"eslint-plugin-import-helpers"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"next",
		"plugin:prettier/recommended",
		"plugin:jest-dom/recommended",
		"plugin:testing-library/react",
		"plugin:testcafe/recommended"
	],
	"rules": {
		"import-helpers/order-imports": [
			"error",
			{
				"newlinesBetween": "always",
				"groups": ["module", ["parent", "sibling", "index"], "/\\.s?css$/"],
				"alphabetize": { "order": "asc", "ignoreCase": true }
			}
		],
		"prettier/prettier": ["error", {}, { "usePrettierrc": true }],
		"jsx-a11y/anchor-is-valid": [
			"error",
			{
				"components": ["Link"],
				"specialLink": ["hrefLeft", "hrefRight"],
				"aspects": ["invalidHref", "preferButton"]
			}
		]
	}
}
